.footer {
  display: flex;
  padding: 2.4rem 0;
  flex-direction: row;
  justify-content: space-around;
  background-color: $greyo-end;
  height: auto;
  width: 100%;
  position: relative;

  & > p {
    font-size: $medium-size;

    & > b {
      font-size: inherit;
      font-weight: $bold;
    }
  }

  .inner-container {
    justify-content: space-between;

    .colHalf {
      max-width: 24rem;
    }
  }
}

.social {
  display: flex;
  padding: 0;
  margin: 2.4rem 0;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;

  & > li {
    height: 4rem;
    width: 4rem;
    transition: all 0.4s ease;
    a {
      display: block;
      height: 100%;
      &.ld {
        @include icon("ld", white);
        &:hover {
          @include icon("ld", $grad-bg-solid);
          background-color: linear-gradient(
            0deg,
            rgba(255, 107, 107, 0.5) 40%,
            rgba(224, 41, 98, 0.4) 100%
          );
          cursor: pointer;
        }
      }

      &.gh {
        @include icon("gh", white);
        &:hover {
          @include icon("gh", $grad-bg-solid);
          background-color: linear-gradient(
            0deg,
            rgba(255, 107, 107, 0.5) 40%,
            rgba(224, 41, 98, 0.4) 100%
          );
          cursor: pointer;
        }
      }
      &.tw {
        @include icon("tw", white);
        &:hover {
          @include icon("tw", $grad-bg-solid);
          background-color: linear-gradient(
            0deg,
            rgba(255, 107, 107, 0.5) 40%,
            rgba(224, 41, 98, 0.4) 100%
          );
          cursor: pointer;
        }
      }
    }
  }
}
