@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin icon($name, $color) {
  text-indent: -9000px;
  background-repeat: no-repeat;
  $string: #{$color};
  $varcolor: str-replace($string, "#", "%23");

  @if ($name == "ld") {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.625 0H9.375C4.20605 0 0 4.20605 0 9.375V54.625C0 59.7939 4.20605 64 9.375 64H54.625C59.7939 64 64 59.7939 64 54.625V9.375C64 4.20605 59.7939 0 54.625 0ZM22.625 50.75H15.125V24.5H22.625V50.75ZM22.625 20.75H15.125V13.25H22.625V20.75ZM48.875 50.75H41.375V35.75C41.375 33.6826 39.6924 32 37.625 32C35.5576 32 33.875 33.6826 33.875 35.75V50.75H26.375V24.5H33.875V25.9136C35.8398 25.3027 37.1162 24.5 39.5 24.5C44.5864 24.5054 48.875 29.0684 48.875 34.4609V50.75Z' fill='"+$varcolor+"'/%3E%3C/svg%3E%0A");
  } @else if ($name == "tw") {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.6 0H6.4C2.88 0 0 2.88 0 6.4V57.6C0 61.12 2.88 64 6.4 64H57.6C61.12 64 64 61.12 64 57.6V6.4C64 2.88 61.12 0 57.6 0ZM50.24 23.36C49.92 38.08 40.64 48.32 26.56 48.96C20.8 49.28 16.64 47.36 12.8 45.12C16.96 45.7601 22.4 44.1601 25.28 41.6C21.12 41.28 18.56 39.04 17.28 35.52C18.56 35.84 19.84 35.52 20.8 35.52C16.96 34.24 14.4 32 14.08 26.88C15.04 27.52 16.32 27.84 17.6 27.84C14.72 26.24 12.8 20.16 15.04 16.32C19.2 20.8 24.32 24.64 32.64 25.28C30.4 16.32 42.5601 11.52 47.3601 17.6C49.6001 17.28 51.2001 16.32 52.8001 15.68C52.1601 17.92 50.8801 19.2 49.2801 20.48C50.8801 20.16 52.4801 19.84 53.7601 19.2C53.44 20.8 51.84 22.08 50.24 23.36Z' fill='"+$varcolor+"'/%3E%3C/svg%3E%0A");
  } @else if ($name == "gh") {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M60.479 3.52051C58.1317 1.17365 55.3061 0 51.9998 0H11.9999C8.69467 0 5.86796 1.17365 3.52051 3.52051C1.17365 5.86781 0 8.69453 0 11.9999V52.0003C0 55.3059 1.17365 58.1323 3.52051 60.4792C5.86781 62.8265 8.69467 64.0001 11.9999 64.0001H21.3332C21.9438 64.0001 22.4025 63.9791 22.708 63.9382C23.0133 63.8962 23.3186 63.7155 23.6243 63.3958C23.9302 63.0766 24.0826 62.6112 24.0826 62.0003C24.0826 61.9174 24.0753 60.972 24.0616 59.1666C24.0474 57.3606 24.0406 55.9302 24.0406 54.8745L23.0822 55.0413C22.4711 55.1522 21.7003 55.2011 20.7696 55.1871C19.8394 55.1731 18.8739 55.0762 17.874 54.8955C16.8736 54.7147 15.9434 54.2982 15.0822 53.646C14.2214 52.9926 13.6104 52.1387 13.2492 51.0834L12.8324 50.1244C12.5546 49.4862 12.1174 48.7776 11.5201 48.0004C10.9227 47.2223 10.3187 46.6944 9.70764 46.4167L9.41591 46.2083C9.22166 46.0695 9.04114 45.9021 8.87433 45.7079C8.70781 45.513 8.58288 45.3183 8.49955 45.1245C8.41622 44.9297 8.4854 44.7699 8.70781 44.6445C8.93022 44.5198 9.33258 44.4579 9.91619 44.4579L10.7492 44.5827C11.305 44.6936 11.992 45.0266 12.8119 45.5825C13.6312 46.1379 14.3048 46.86 14.8326 47.7487C15.4718 48.8879 16.242 49.7554 17.1452 50.3527C18.0477 50.9506 18.9576 51.2492 19.8741 51.2492C20.7906 51.2492 21.5822 51.1797 22.2492 51.0414C22.9154 50.9021 23.5404 50.6933 24.124 50.4156C24.374 48.5547 25.0547 47.1233 26.1655 46.1235C24.5823 45.9567 23.1588 45.707 21.8945 45.3734C20.631 45.0397 19.3252 44.4984 17.9782 43.7482C16.6306 42.998 15.5127 42.0681 14.6238 40.9563C13.735 39.8446 13.0056 38.3863 12.4366 36.5813C11.8673 34.7753 11.5825 32.6917 11.5825 30.3309C11.5825 26.97 12.6802 24.1084 14.8745 21.7476C13.8465 19.2199 13.9436 16.3869 15.166 13.2477C15.9715 12.9976 17.1662 13.1852 18.7494 13.8103C20.3328 14.4358 21.4922 14.9707 22.2286 15.4145C22.965 15.8584 23.555 16.2338 23.9996 16.5397C26.5834 15.8174 29.2499 15.4564 31.9997 15.4564C34.7494 15.4564 37.4163 15.8174 40.0003 16.5397L41.5836 15.5397C42.6673 14.8728 43.9449 14.2617 45.4173 13.7064C46.8895 13.151 48.0143 12.998 48.7925 13.2481C50.042 16.3873 50.1538 19.2203 49.1251 21.7478C51.3194 24.109 52.4173 26.9705 52.4173 30.3313C52.4173 32.6926 52.1326 34.7832 51.5633 36.6022C50.9944 38.4216 50.2587 39.8805 49.3552 40.9776C48.4527 42.075 47.3275 42.9979 45.9805 43.7485C44.6332 44.4982 43.3276 45.0405 42.0634 45.3731C40.7995 45.7067 39.3761 45.9574 37.7928 46.1242C39.2363 47.3738 39.9584 49.3454 39.9584 52.0403V61.999C39.9584 62.4714 40.0273 62.853 40.1662 63.1448C40.306 63.4364 40.5279 63.6372 40.8333 63.7491C41.1401 63.86 41.4096 63.9293 41.6463 63.9569C41.8831 63.9848 42.2227 63.9988 42.6672 63.9988H52.0005C55.3058 63.9988 58.1326 62.8252 60.4789 60.4779C62.8262 58.1306 63.9999 55.3037 63.9999 51.9984V11.9999C63.9996 8.69453 62.8259 5.86737 60.479 3.52051Z' fill='"+$varcolor+"'/%3E%3C/svg%3E");
  }
}

//responsive
@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}
